[submodule "packages/safe-passport/lib/forge-std"]
	path = packages/safe-passport/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/portfolio_manager/lib/forge-std"]
	path = packages/portfolio_manager/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
